#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --soft-red: hsl(10, 79%, 65%);
  --near-cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

.container {
  padding: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 30;
  width: 100%;
  padding: 5px 5px;
}