#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(33, 100%, 98%);
  
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 30;
  width: 100%;
  padding: 5px 5px;
}